[Unit]
Description=OVRO-LWA Power Beam Recorder - Beam {{ beam }}
After=network-online.target
Wants=network-online.target

[Service]
# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dr-beam-{{ beam }}

# Run before process
ExecStartPre=/bin/bash -c '[ -d /data{{ calim_host }}/log ] || mkdir -p /data{{ calim_host }}/log'

# Setup the environment
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
source {{ anaconda }}/bin/activate {{ condaenv }} && \
python3 {{ path }}/dr_beam.py \
         --address                {{ address }} \
         --port                   {{ port }} \
         --beam                   {{ beam }} \
         --cores                  {{ cores }} \
         --record-directory       {{ directory }} \
         --record-directory-quota {{ quota }} \
         --logfile                /data{{ calim_host }}/log/dr-beam-{{ beam }}.%H.log'

[Install]
WantedBy=default.target
