[Unit]
Description=OVRO-LWA Visibilities Recorder Manager - Slow
After=network-online.target
Wants=network-online.target

[Service]
# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Run before process
ExecStartPre=/bin/bash -c '[ -d {{ logdir }} ] || mkdir -p {{ logdir }}'

# Setup the environment
Environment=GRPC_ENABLE_FORK_SUPPORT=true
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
source {{ anaconda }}/bin/activate {{ condaenv }} && \
python3 {{ path }}/dr_manager_visibilities.py \
         --band-id  {{ band_id }} \
	       --logfile  {{ logdir }}/dr-manager-vslow.%H.log'

[Install]
WantedBy=default.target

# Configuration Logging
# Generated: {{ generated }}
# Input File:  {{ input_file }}
# Input File MD5: {{ input_file_md5 }}
