[Unit]
Description=OVRO-LWA Visibilities Recorder Manager - Slow
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
User=ubuntu

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dr-manager-vslow

# Run before process
ExecStartPre=/bin/bash -c '[ -d /home/ubuntu/log ] || mkdir -p /home/ubuntu/log'

# Setup the environment
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
source {{ anaconda }}/bin/activate {{ anaconda }}/envs/{{ condaenv }} && \
{{ anaconda }}/envs/{{ condaenv }}/bin/python3 {{ path }}/dr_manager_visibilites.py \
         --begin-band {{ begin_band }} \
         --end-band   {{ end_band }} \
	       --logfile    /home/ubuntu/log/dr-manager-vslow.%H.log'

[Install]
WantedBy=multi-user.target
