[Unit]
Description=OVRO-LWA Fast Visibilties Recorder - Band {{ band }}
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Try restarting if the pipeline gets killed
Restart=on-failure

# Run before process
ExecStartPre=/bin/bash -c '[ -d {{ logdir }} ] || mkdir -p {{ logdir }}'

# Setup the environment
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
source {{ anaconda }}/bin/activate {{ condaenv }} && \
python3 {{ path }}/dr_visibilities.py \
         --address                {{ address }} \
         --port                   {{ port }} \
         --cores                  {{ cores }} \
         --quick \
         --nint-per-file          100 \
         --record-directory       {{ directory }} \
         --record-directory-quota {{ quota }} \
         --no-tar \
         --logfile                {{ logdir }}/dr-vfast-{{ band }}.%H.log'

ExecStopPost=/bin/bash -c '\
if [ $(ps aux | grep dr_visibilities | grep python | wc -l) -eq 0 ]; then \
    echo "Running cleanup tasks"; \
    rm -rf /fast/pipeline/temp/MeasurementSetWriter*; \
fi'

[Install]
WantedBy=default.target

# Configuration Logging
# Generated: {{ generated }}
# Input File:  {{ input_file }}
# Input File MD5: {{ input_file_md5 }}
