[Unit]
Description=OVRO-LWA Fast Visibilties Recorder - Band {{ band }}
After=network-online.target
Wants=network-online.target

[Service]
# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dr-vfast-{{ band }}

# Run before process
ExecStartPre=/bin/bash -c '[ -d /data{{ calim_host }}/log ] || mkdir -p /data{{ calim_host }}/log'

# Setup the environment
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
source {{ anaconda }}/bin/activate {{ condaenv }} && \
python3 {{ path }}/dr_visibilities.py \
         --address                {{ address }} \
         --port                   {{ port }} \
         --cores                  {{ cores }} \
         --quick \
         --record-directory       {{ directory }} \
         --record-directory-quota {{ quota }} \
         --no-tar \
         --logfile                /data{{ calim_host }}/log/dr-vfast-{{ band }}.%H.log'

[Install]
WantedBy=multi-user.target
